.loadingUI{
    width:100%;/*!important*/
    height:111%;
    background-color:#cececeba;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:1.9;
    position:absolute;
    left:0px;
    top:0px;
    display:flex;/*flex;/*block;*//*none*/
    z-index:888;
    /* align-items:center; */
    position: absolute;
    overflow-y:overlay;
    z-index:99999;
}
.loadingUIDiv{
    margin-left:2%;
    width:100%;
}
.loadingUIPinner-border{
    color:#992db6;
    width:5vh;height:5vh;
}
.loadingUIText{
    color:#992db6;
    padding-top:1vh;
    font-size:2.5vh;
}

.uplo{
    margin-top:2.5vh;
}

.imgD{
    margin-top:2.5vh;
}
#bImgBtn{
    display: inline;
}
.imgFileDiv{
    width:96%;
    height:80%;
    overflow-y:auto;
}
.botImgtyle{
    width:30vh;
}
.imgTitleStyle{
    color:#9f2cc5;
    padding:1.5vh 0;
    /* display:inline-flex; */
}
.imgTitleStyleC{
    font-size:4.5vmin;
    text-align:center;
}
.imgTitleStyleR{
    font-size:8.5vmin;
    /* padding-right:-1vmin; */
    text-align:right;
}


.sumBtn{
    width:90%;
    margin-left:5%;
    margin-top:3vh;
}